In [21]:
import pandas as pd
import json

In [22]:
with open("weak_scaling.json") as f:
    weak = json.load(f)

with open("strong_scaling_results.json") as f:
    strong = json.load(f)

In [23]:
weak

{'threads': [1, 4, 16, 64],
 'sizes': [64, 128, 256],
 'runs': 20,
 'times': [[[0.0477722,
    0.0494843,
    0.0497894,
    0.0634791,
    0.0488843,
    0.0490103,
    0.0499431,
    0.0493209,
    0.0490869,
    0.0478435,
    0.0503742,
    0.0497072,
    0.0504091,
    0.0499724,
    0.0472295,
    0.0487377,
    0.0488022,
    0.0483412,
    0.0489236,
    0.0471567],
   [0.161292,
    0.183873,
    1.3999,
    0.239539,
    0.488064,
    1.10483,
    1.54685,
    1.17055,
    0.293861,
    0.176673,
    0.531025,
    0.764393,
    0.183663,
    1.64861,
    0.156175,
    0.164396,
    0.171463,
    1.95073,
    0.172642,
    0.178844],
   [2.50489,
    7.60724,
    0.350609,
    0.431406,
    0.974208,
    0.436147,
    0.714186,
    1.08269,
    1.04672,
    0.446984,
    0.65446,
    0.357566,
    0.734171,
    2.00484,
    1.79118,
    0.703759,
    2.42564,
    0.632959,
    0.472074,
    1.66092],
   [2.72674,
    71.8975,
    12.8429,
    101.134,
    15.5322,
    71.7873,
    5.13962,
    3.0963,
    44.4877,
    4.70248,
    118.51,
    11.7741,
    8.04709,
    3.76689,
    81.1225,
    6.60575,
    4.48958,
    117.393,
    49.0316,
    21.6203]],
  [[0.1715,
    0.175115,
    0.172826,
    0.17352,
    0.172224,
    0.168536,
    0.173209,
    0.171976,
    0.173029,
    0.17252,
    0.1681,
    0.172248,
    0.168538,
    0.172872,
    0.248284,
    0.246894,
    0.246054,
    0.246728,
    0.241986,
    0.210234],
   [2.10775,
    1.10606,
    1.11065,
    1.03282,
    0.964942,
    0.734502,
    1.22813,
    1.00949,
    1.75946,
    1.01154,
    0.886292,
    1.40849,
    1.15954,
    1.08485,
    3.14027,
    2.75408,
    1.20531,
    0.701112,
    0.974632,
    0.886929],
   [2.91594,
    1.88483,
    1.67236,
    2.37907,
    2.86596,
    2.61891,
    3.48014,
    1.66464,
    2.40728,
    1.28845,
    4.06654,
    5.07317,
    3.66534,
    3.27443,
    2.71106,
    5.0138,
    2.30793,
    2.5142,
    2.48732,
    2.88868],
   [7.11982,
    4.69393,
    77.4338,
    5.4489,
    89.0029,
    13.0978,
    159.159,
    88.6672,
    5.28858,
    292.907,
    7.05157,
    29.5209,
    6.98211,
    10.7819,
    13.7382,
    6.25085,
    13.6112,
    9.21315,
    168.779,
    5.84361]],
  [[1.11103,
    1.11103,
    1.11508,
    1.10713,
    1.11018,
    1.11037,
    1.10951,
    1.10642,
    1.11146,
    1.12133,
    1.10711,
    1.11208,
    1.11312,
    1.1126,
    1.12535,
    1.10684,
    1.11905,
    1.10822,
    1.1113,
    1.1117],
   [4.05752,
    3.68614,
    4.1429,
    3.54429,
    4.60035,
    3.72778,
    4.92682,
    3.72608,
    3.70234,
    3.36584,
    6.26738,
    4.25754,
    3.36523,
    4.32232,
    4.37496,
    3.29645,
    4.47378,
    4.18733,
    4.47832,
    3.88519],
   [7.70125,
    9.90137,
    7.48388,
    8.9357,
    6.76296,
    8.40036,
    9.48061,
    8.99267,
    7.47914,
    7.27319,
    7.64589,
    7.2857,
    7.95158,
    9.00078,
    7.16664,
    7.17448,
    7.95772,
    7.59846,
    7.8009,
    8.4305],
   [71.4205,
    46.8764,
    164.822,
    125.551,
    207.126,
    128.447,
    98.7599,
    104.921,
    85.287,
    76.5122,
    104.62,
    63.7999,
    225.711,
    87.9614,
    75.805,
    98.6509,
    137.426,
    99.7092,
    189.873,
    26.7877]]]}

In [26]:
import math


weak_df = pd.DataFrame()

times = weak["times"]
threads = weak["threads"]
sizes = weak["sizes"]
runs = weak["runs"]

for i, t in enumerate(times):
    s = sizes[i]
    for j, time in enumerate(t):
        t = threads[j]
        temp_df = pd.DataFrame({
            "cpus": t,
            "res": int(s* math.sqrt(t)),
            "base_res": s,
            "time": time,
            "run": list(range(1, len(time) + 1)),
        })

        weak_df = pd.concat([weak_df, temp_df])



# save to csv
weak_df.to_csv(
    "../../../project05/code/mini_app/out/results_weak_omp.csv", index=False)
weak_df

    cpus   res  base_res        time  run
0      1    64        64    0.047772    1
1      1    64        64    0.049484    2
2      1    64        64    0.049789    3
3      1    64        64    0.063479    4
4      1    64        64    0.048884    5
..   ...   ...       ...         ...  ...
15    64  2048       256   98.650900   16
16    64  2048       256  137.426000   17
17    64  2048       256   99.709200   18
18    64  2048       256  189.873000   19
19    64  2048       256   26.787700   20

[240 rows x 5 columns]

In [25]:
# repeat for strong scaling
strong_df = pd.DataFrame()

times = strong["times"]
threads = strong["threads"]
sizes = strong["sizes"]
runs = strong["runs"]

for i, t in enumerate(times):
    s = sizes[i]
    for j, time in enumerate(t):
        thread = threads[j]
        temp_df = pd.DataFrame({
            "cpus": thread,
            "res": s,
            "time": time,
            "run": list(range(1, len(time) + 1)),
        })

        strong_df = pd.concat([strong_df, temp_df])


# save to csv
strong_df.to_csv(
    "../../../project05/code/mini_app/out/results_strong_omp.csv", index=False)
strong_df

    cpus   res      time  run
0      1    64  0.049742    1
1      1    64  0.068614    2
2      1    64  0.048020    3
3      1    64  0.048394    4
4      1    64  0.053291    5
..   ...   ...       ...  ...
15    16  1024  8.743710   16
16    16  1024  8.890130   17
17    16  1024  8.797420   18
18    16  1024  8.829030   19
19    16  1024  8.984510   20

[500 rows x 4 columns]